In [1]:
print("Hello World")

Hello World

In [2]:
name = 'Ram'
print("Hello" , name)

Hello Ram

In [4]:
age = 30
print("The age is" , age + 25)
print("My name is" , name)

The age is 55
My name is Ram

**Concepts of Python**

    * Variables and values
    * Data types and Data Structures
    * Operators
    * Conditional programming
    * Loops - for/while
    * functions
    * file handling
    * exception handling

In [5]:
name = "Ram"
print("Hi, my name is" , name)

Hi, my name is Ram

In [6]:
a,b,c = 10,12,16
print(a)
print(b)
print(c)

10
12
16

In [7]:
x = y = z = 25
print(x)
print(y)
print(z)

25
25
25

In [11]:
name = "Ram"
print(type(name))
print(name)

<class 'str'>
Ram

In [9]:
age = 25
weight = 55.7

print(age , type(age))
print(weight , type(weight))

25 <class 'int'>
55.7 <class 'float'>

In [10]:
complex_number = 3 + 4j
print(complex_number , type(complex_number))

(3+4j) <class 'complex'>

In [37]:
#String - characters defined within quotes
#String operations
#String is a sequential
#Concatenation

topping1 = "tomato"
topping2 = "mushrooms"
pizza_description = topping1 + " " +  topping2
print(pizza_description)

tomato mushrooms

In [17]:
#repetition
print("Yum! " * 3)

Yum! Yum! Yum!

In [21]:
pizza = "Margherita"
print(pizza)

print(pizza[0:5])

Margherita
Margh

In [22]:
print(len(pizza))

10

In [24]:
print(pizza.upper())
print(pizza.lower())

MARGHERITA
margherita

In [27]:
#boolean - True or False
is_hot = True
print(is_hot, type(is_hot))

True <class 'bool'>

In [29]:
no_pizza = None
print(no_pizza , type(no_pizza))

None <class 'NoneType'>

In [32]:
#data type conversion or typecasting

slices = '8'
print(int(slices) * 2)

16

In [34]:
slices = 8

print("You have " + str(slices) + " slices left.")

You have 8 slices left.

In [35]:
price = 3.99
print(int(price))

3

**List**

    * Stores multiple values in a variable 
    * Stores sequential data 
    * It is mutable

In [39]:
cities = ["Chennai" , "Hyderabaad" , "Mumbai" , "Delhi"]
print(cities)

['Chennai', 'Hyderabaad', 'Mumbai', 'Delhi']

In [41]:
print(cities[0])
print(cities[1])
print(cities[2])
print(cities[3])

Chennai
Hyderabaad
Mumbai
Delhi

In [42]:
cities[3] = "Mohali"
print(cities)

['Chennai', 'Hyderabaad', 'Mumbai', 'Mohali']

In [43]:
print(len(cities))

4

In [44]:
#Concatenation
cities_new = ["Chandigarh" , "Coimbatore" , "Vizag"]
updated_cities = cities + cities_new
print(updated_cities)

['Chennai', 'Hyderabaad', 'Mumbai', 'Mohali', 'Chandigarh', 'Coimbatore', 'Vizag']

In [48]:
#Slicing - list_variable[initial_index : initial_index + number of values]
print(updated_cities[1:5])

['Hyderabaad', 'Mumbai', 'Mohali', 'Chandigarh']

In [49]:
#append a new entity
updated_cities.append('Delhi')
print(updated_cities)

['Chennai', 'Hyderabaad', 'Mumbai', 'Mohali', 'Chandigarh', 'Coimbatore', 'Vizag', 'Delhi']

In [50]:
#insert a new entity at index 3
updated_cities.insert(3,"Dehradun")
print(updated_cities)

['Chennai', 'Hyderabaad', 'Mumbai', 'Dehradun', 'Mohali', 'Chandigarh', 'Coimbatore', 'Vizag', 'Delhi']

In [51]:
#remove an item
updated_cities.remove('Chandigarh')
print(updated_cities)

['Chennai', 'Hyderabaad', 'Mumbai', 'Dehradun', 'Mohali', 'Coimbatore', 'Vizag', 'Delhi']

In [55]:
#append a new entity
updated_cities.append('Mohali')
print(updated_cities)

['Chennai', 'Hyderabaad', 'Mumbai', 'Dehradun', 'Mohali', 'Coimbatore', 'Vizag', 'Delhi', 'Mohali', 'Mohali']

In [56]:
#Capturing index
print(updated_cities.index('Mohali'))

4

In [57]:
#remove an item using pop - using index
updated_cities.pop(4)
print(updated_cities)

['Chennai', 'Hyderabaad', 'Mumbai', 'Dehradun', 'Coimbatore', 'Vizag', 'Delhi', 'Mohali', 'Mohali']

In [58]:
#Capturing index
print(updated_cities.index('Mohali'))

7

**Tuple**

    * Stores multiple values in a variable 
    * Stores sequential data 
    * It is non-mutable

In [59]:
employees_1 = ("Raj" , "Jai" , "Ramesh" , "Shivam")
print(employees_1)

('Raj', 'Jai', 'Ramesh', 'Shivam')

In [62]:
print(employees_1[0])
print(employees_1[1])
print(employees_1[2])
print(employees_1[3])

Raj
Jai
Ramesh
Shivam

In [63]:
employees_2 = ("Ragini" , "Sunil" , "Radha")

employees = employees_1 + employees_2
print(employees)

('Raj', 'Jai', 'Ramesh', 'Shivam', 'Ragini', 'Sunil', 'Radha')

In [65]:
print(employees[2:6])

('Ramesh', 'Shivam', 'Ragini', 'Sunil')

In [67]:
employees[2] = "Ram"

TypeError: 'tuple' object does not support item assignment

In [68]:
employees.append("Bipul")

AttributeError: 'tuple' object has no attribute 'append'

**Dictionary**

    * key value pair

In [69]:
student_details = {"name" : "Pavan",
                   "age" : 19,
                   "stream" : "electronics"}

print(student_details)

{'name': 'Pavan', 'age': 19, 'stream': 'electronics'}

In [72]:
print(student_details["name"])
print(student_details["age"])
print(student_details["stream"])

Pavan
19
electronics

In [74]:
print(student_details.keys())
print(student_details.values())

dict_keys(['name', 'age', 'stream'])
dict_values(['Pavan', 19, 'electronics'])

In [76]:
'''
new_details = {"city" : "Jaipur"}
print(student_details + new_details)
'''

'\nnew_details = {"city" : "Jaipur"}\nprint(student_details + new_details)\n'

In [77]:
student_details['city'] = "Jaipur"
print(student_details)

{'name': 'Pavan', 'age': 19, 'stream': 'electronics', 'city': 'Jaipur'}

In [80]:
student_details.pop('stream')

'electronics'

In [81]:
print(student_details)

{'name': 'Pavan', 'age': 19, 'city': 'Jaipur'}

In [82]:
del(student_details['city'])

In [83]:
print(student_details)

{'name': 'Pavan', 'age': 19}

**sets**

    * non sequential data structure
    * can not stores duplicate values
    * mutable

In [86]:
set1 = {4,2,8,9,1,7,9,4}
print(set1 , type(set1))

{1, 2, 4, 7, 8, 9} <class 'set'>

In [88]:
print(list(set1)[0])

1

In [90]:
set1.add(3)
print(set1)

{1, 2, 3, 4, 7, 8, 9}

In [91]:
set1.add(9)
print(set1)

{1, 2, 3, 4, 7, 8, 9}

**Operations & Operands**

    * Arthmetic
    * Assignment
    * Comparasion
    * Logical
    * bitwise
    * membership

**Arthemetic**

In [93]:
x = 17
y = 5

print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x ** y)
print(x // y)
print(x % y)

22
12
85
3.4
1419857
3
2

**Assignment**

In [94]:
x = 17

In [95]:
x += 3
print(x)

20

In [96]:
x -= 5
print(x)

15

In [97]:
x *= 2
print(x)

30

In [98]:
x /= 3
print(x)

10.0

In [99]:
x **= 2
print(x)

100.0

In [100]:
x //= 3
print(x)

33.0

In [102]:
x %= 4
print(x)

1.0

**Comparsion**

In [104]:
age = 21

print(age > 18)
print(age < 18)
print(age >= 18)
print(age <= 18)
print(age == 18)
print(age != 18)

True
False
True
False
False
True

**Logical**

In [106]:
age = 20
weight = 55.5

print(age > 18)
print(weight > 50)

True
True

In [108]:
#and  => True only if all compared conditions are True

print(age > 18  and weight > 50)           #True and True = True
print(age > 18  and weight < 50)           #True and False = False
print(age < 18  and weight > 50)           #False and True = False
print(age < 18  and weight < 50)           #False and False = False

True
False
False
False

In [109]:
#or => True if any comapred condition is True

print(age > 18  and weight > 50)           #True or True = True
print(age > 18  or weight < 50)           #True or False = True
print(age < 18  or weight > 50)           #False or True = True
print(age < 18 or weight < 50)           #False or False = False

True
True
True
False

In [111]:
print(not(age > 18  and weight > 50))        #not(True or True) = False
print(not(age > 18  or weight < 50))           #not(True or False) = False
print(not(age < 18  or weight > 50))           #not(False or True) = False
print(not(age < 18 or weight < 50))           #not(False or False) = True

False
False
False
True

**bitwise**

In [116]:
print(5 & 7)

5

In [115]:
print(7 & 5)

5

In [117]:
print(7 | 5)

7

**Membership operator**

In [120]:
name = "Bipul Kumar Shahi"
print("Kumar" in name)
print("Amit" in name)

True
False

In [121]:
name = "Bipul Kumar Shahi"
print("Kumar" not in name)
print("Amit" not in name)

False
True

In [123]:
print(updated_cities)

['Chennai', 'Hyderabaad', 'Mumbai', 'Dehradun', 'Coimbatore', 'Vizag', 'Delhi', 'Mohali', 'Mohali']

In [126]:
print("Mumbai" in updated_cities)
print("Kochi" in updated_cities)

True
False

**Conditional Programming**

In [130]:
if True:
    print("Hello World")

Hello World

In [133]:
age = 22
if age > 18:
    print("You are eligible to vote")

You are eligible to vote

In [134]:
age = 12
if age > 18:
    print("You are eligible to vote")
else:
    print("You can't vote as of now")

You can't vote as of now

In [137]:
age = 75

if age > 60:
    print("You are eligible for Senior citizen discount of 25%")
if age > 20:
    print("You can avail the minimum discount of 10%")
if age > 6:
    print("You can avail student discount of 20%")
else:
    print("Not eligible")

You are eligible for Senior citizen discount of 25%
You can avail the minimum discount of 10%
You can avail student discount of 20%

In [139]:
age = 55

if age > 60:
    print("You are eligible for Senior citizen discount of 25%")
elif age > 20:
    print("You can avail the minimum discount of 10%")
elif age > 6:
    print("You can avail student discount of 20%")
else:
    print("Not eligible")

You can avail the minimum discount of 10%