**function**

* *args

  * allows us to pass a variable number of positional arguments to a function
  * Flexibility - You don't need to know how many arguments will be passed
  * It avoids having a fixed number of parameters

In [2]:
def myfunc(x,y):
  pass

In [4]:
myfunc(7,3,2)

TypeError: myfunc() takes 2 positional arguments but 3 were given

In [8]:
def myfunction(*args):
  total_sum = 0
  for arg in args:
    total_sum = total_sum + arg
  return total_sum

In [9]:
myfunction(3,4)

7

In [10]:
myfunction(4,3,2,7,4)

20

In [11]:
myfunction(4,3,9)

16

In [14]:
word_list = ["I" , "am" , "a" , "good" , "Indian" , "citizen"]
print(" ".join(word_list))

I am a good Indian citizen

In [15]:
def concatenate(*args):
  return " ".join(args)

In [16]:
concatenate("Hello", "world")

'Hello world'

In [17]:
concatenate("Python", "is" , "Fun")

'Python is Fun'

In [21]:
def greet(*args):
  for name in args:
    print(f"Hello {name}")

In [23]:
greet("Raj" , "Ajay" , "Pavan" , "Pravin" , "Suresh" , "Radha")

Hello Raj
Hello Ajay
Hello Pavan
Hello Pravin
Hello Suresh
Hello Radha

**Keyword arguments**

In [24]:
def student_details(name,age,location):
  return {"Name" : name , "Age" : age , "Location" : location}

In [25]:
student_details()"Jai" , 21 , "Delhi"

{'Name': 'Jai', 'Age': 21, 'Location': 'Delhi'}

In [27]:
student_details(age = 21 , location = "Delhi" , name = "Jai")

{'Name': 'Jai', 'Age': 21, 'Location': 'Delhi'}

**kwargs - allows us to pass a variable number of keyword arguments to a function, these arguments are captured as a dictionary.

  * It allows flexibility when we don't know beforehand how many keyword argument a function may need.

In [35]:
def display_info(**kwargs):
  for key,value in kwargs.items():
    print(f"{key} : {value}")

In [36]:
display_info(name="Rahul" , age=20 , city="Mumbai" , education = "High School")

name : Rahul
age : 20
city : Mumbai
education : High School

In [41]:
#set a default configuration

def configure_app(**kwargs):
  config = {
      "theme" : "light",
      "language" : "en",
      "timezone" : "UTC"
  }
  config.update(kwargs)
  return config

In [42]:
configure_app()

{'theme': 'light', 'language': 'en', 'timezone': 'UTC'}

In [43]:
configure_app(theme = 'dark' , language = 'fr')

{'theme': 'dark', 'language': 'fr', 'timezone': 'UTC'}

In [44]:
configure_app(language = 'fr')

{'theme': 'light', 'language': 'fr', 'timezone': 'UTC'}

In [58]:
#both - *args & **kwargs

def greet_users(greeting , *names , **kwargs):
  for name in names:
    print(f"{greeting} , {name}")
  if kwargs.get("show_count"):
    print(f"Total number of people greeted - {len(names)}")

In [59]:
greet_users("Hello" , "Joy" , "Arun" , "Raghav")

Hello , Joy
Hello , Arun
Hello , Raghav

In [73]:
greet_users("Good Morning" , "Ajay" , "Amar" , show_count=True)

Good Morning , Ajay
Good Morning , Amar
Total number of people greeted - 2

In [69]:
def new_func(**kwargs):
  return kwargs.get("name")

In [70]:
new_func(age = 22 , city="Jaipur")

In [71]:
new_func(name="Ajay" , age = 22 , city="Jaipur")

'Ajay'

**Lambda Function**

  * Small, anonymous function
  * defined using "lambda" keyword
  * It can have any number of arguments but can have only one expression, which is of return type
  * It is useful for short, throwaway function that don't need a name.
  * They made code concise
  * lambda argument : expression

In [74]:
def sosum(x,y):
  return x + y

In [76]:
add = lambda x,y : x + y
print(add(4,3))
print(add(7,8))

7
15

In [78]:
def evenorodd(x):
  return x % 2 == 0

print(evenorodd(8))
print(evenorodd(7))

True
False

In [82]:
eo = lambda x : x%2 == 0
print(eo(4))
print(eo(9))

True
False

In [84]:
#Create a lambda function to calculate square of a number
square = lambda x : x**2
print(square(9))
print(square(7))

81
49

In [86]:
#Calculate square of all the numbers in given list using the square function created
numbers = [3,5,6,7,2]

squared_numbers = []

for num in numbers:
  squared_numbers.append(square(num))

print(squared_numbers)

[9, 25, 36, 49, 4]

* map() : apply a user defined function to every item in an iterable

In [90]:
numbers = [3,5,6,7,2]
squared = map(square , numbers)
print(list(squared))

[9, 25, 36, 49, 4]

In [92]:
cities = ["Jaipur" , "Lucknow" , "Kochi" , "Jammu" , "Hyderabaad"]

cities_upper = []

for city in cities:
  cities_upper.append(city.upper())

print(cities_upper)

['JAIPUR', 'LUCKNOW', 'KOCHI', 'JAMMU', 'HYDERABAAD']

In [95]:
cities = ["Jaipur" , "Lucknow" , "Kochi" , "Jammu" , "Hyderabaad"]
upperCaseCities = map(lambda x : x.upper() , cities)
print(list(upperCaseCities))

['JAIPUR', 'LUCKNOW', 'KOCHI', 'JAMMU', 'HYDERABAAD']

In [99]:
numbers = [1,2,3,4,5,6,7,8,9,10]

even_nums = []
for num in numbers:
  if num % 2 == 0:
    even_nums.append(num)

print(even_nums)

[2, 4, 6, 8, 10]

In [98]:
#Check even number in this list
numbers = [1,2,3,4,5,6,7,8,9,10]

print(list(map(lambda x: x%2==0, numbers)))  #map cam implement a function defined on each item of an iterable

print(list(filter(lambda x: x%2==0, numbers)))

[False, True, False, True, False, True, False, True, False, True]
[2, 4, 6, 8, 10]

In [102]:
#sort the following set of imformation according to age in increasing order
people = [("Ajay" , 25) , ("Bob" , 20) , ("Ramesh" , 30)]


for name,age in people:
  print(name,age)

Ajay 25
Bob 20
Ramesh 30

In [106]:
#sorted() - to sort an iterables

people = [("Ajay" , 25) , ("Ramesh" , 30) , ("Bob" , 20) ]

sorted(people , key = lambda x : x[0])

[('Ajay', 25), ('Bob', 20), ('Ramesh', 30)]

In [105]:
people = [("Ajay" , 25) , ("Ramesh" , 30) , ("Bob" , 20) ]

sorted(people , key = lambda x : x[1])

[('Bob', 20), ('Ajay', 25), ('Ramesh', 30)]

****
****
**File Handling** - It allows us to create, read, update and delete files. Python provides built-in functions to interact with files, such as open(), read(), write() and more..
****
****
* myfile = open('/content/example.txt' , mode)
  * **modes**
    * "r" - Read(default) , file must exist
    * "w" - Write, creates a new file or over-write into an existing file
    * "a" - Append,  creates a new file or add new content into an existing file
    * "x" - Create, fails if the file already exist
    * "b" - Binary mode (add to any mode , eg- 'rb' , 'wb')

In [126]:
myfile = open('/content/example.txt' , 'r')
print(myfile.read())
myfile.close()

Python is a fun programming language.
India is a great nation

In [127]:
myfile = open('/content/new_example.txt' , 'r')
print(myfile.read())
myfile.close()

FileNotFoundError: [Errno 2] No such file or directory: '/content/new_example.txt'

In [113]:
myfile = open('/content/example.txt' , 'w')
myfile.write("Python is a fun programming language.")
myfile.close()

In [114]:
myfile = open('/content/newexample.txt' , 'w')
myfile.write("It is a sunny day today.")
myfile.close()

In [115]:
myfile = open('/content/example.txt' , 'a')
myfile.write("\nIndia is a great nation")
myfile.close()

In [116]:
myfile = open('/content/moreexample.txt' , 'a')
myfile.write("\nHiHiHiHiHiHiHi")
myfile.close()

In [118]:
myfile = open('/content/onemoreexample.txt' , 'x')
myfile.write("\nIndia is a great nation")
myfile.close()

In [119]:
myfile = open('/content/blank.txt' , 'x')
myfile.write("")
myfile.close()

In [120]:
myfile = open('/content/blank.txt' , 'w')
myfile.write("It is the 1st line")
myfile.close()

**read binary file - image/video**

In [140]:
mybinaryfile = open('/content/sample.jpg' , 'rb')
binary_data = mybinaryfile.read()
mybinaryfile.close()

In [141]:
copy_sample = open('/content/copysample.jpg' , 'wb')
copy_sample.write(binary_data)
copy_sample.close()

In [142]:
mybinaryfile_2 = open('/content/sample2.jpg' , 'rb')
binary_data_2 = mybinaryfile_2.read()
mybinaryfile_2.close()

In [143]:
copy_sample = open('/content/copysample.jpg' , 'ab')
copy_sample.write(binary_data_2)
copy_sample.close()