* Question 1: Conditional Statements

  * Write a Python program that simulates a login activity. The program should:

    * Ask the user to input a username and password.
    * If the username is 'user' and the password is 'python123', print  "Welcome!". Otherwise, print "Invalid Credentials."

* Question 2: Loops

  * Write a Python program to print all even numbers between 1 and 50 using a for loop.

In [7]:
username  = input("Enter User name")
userpassword = input("Enter user password")

if username == 'user' and userpassword == 'python123':
  print("Welcome")
else:
  print("Invalid Credentials.")

Enter User nameuser
Enter user passwordpython123
Welcome

In [12]:
for i in range(1,51):
  if (i % 2 == 0):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

* Question 3: Nested Loops

  * Create a program that displays the multiplication table from 1 to 10. Use nested for loops to format the output.

  * Example Output:

  * 1 x 1 = 1
  * 1 x 2 = 2
...
  * 10 x 10 = 100

* Question 4: Functions and Return Types

* Write a Python function named is_prime() that takes an integer as an input and returns:

    * True if the number is a prime number.
    False otherwise.

In [22]:
for i in range(1,11):
  print(f"1 * {i} = {1 * i}")

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

In [31]:
#for each value of i . the value of j will change for 10 times
for i in range(1,11):
  for j in range(1,11):
    #print(f"value of i - {i} value of j - {j}")
    print(f"{i} * {j} = {i*j}")

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [35]:
def is_prime(number):
  if number <= 0:
    return False
  for i in range (2, number):
    if number % i == 0:
      return False   #if divisible, its not prime
  return True #if no divisiors found and it is a positive number => prime

In [36]:
is_prime(-9)

False

In [37]:
is_prime(6)

False

In [38]:
is_prime(7)

True

**Question 5: Error Handling and File Operations**

* Write a Python program that:

    * Prompts the user to enter the name of a text file.
    * Reads the file if it exists and displays its content.
    * If the file doesnâ€™t exist, handles the error gracefully and creates the file with a default message "This is a new file."

In [3]:
file_name = input("Enter the name of the file with extension (eg. example.txt)")

try:
  userfile = open(file_name , 'r')
  print(userfile.read())
  userfile.close()
except Exception as err:
  print(err)

Enter the name of the file with extension (eg. example.txt)hello.txt
[Errno 2] No such file or directory: 'hello.txt'

In [8]:
try:
  userfile = open(file_name , 'r')
  print(userfile.read())
  userfile.close()
except Exception as err:
  print(err)

In [7]:
try:
  userfile = open(file_name , 'w')
  print(userfile.read())
  userfile.close()
except Exception as err:
  print(err)

not readable

In [16]:
file_name = input("Enter the name of the file with extension (eg. example.txt)")

try:
  userfile = open(file_name , 'r')
  print(userfile.read())
except FileNotFoundError:
  print("File is not existing at the given location, creating a new one")
  userfile = open(file_name , 'w')
  userfile.write(f"This is a demo content in this {file_name}")
except Exception as err:
  print(err)
finally:
  userfile.close()

Enter the name of the file with extension (eg. example.txt)hello.txt
We are learning Python.....

In [23]:
file_name = input("Enter the name of the file with extension (eg. example.txt)")

try:                                      #try for a particular logic
  userfile = open(file_name , 'r')

except FileNotFoundError:                #handle a defined exception
  print("File is not existing at the given location, creating a new one")
  userfile = open(file_name , 'w')
  userfile.write(f"This is a demo content in this {file_name}")
  userfile.close()

  readfile = open(file_name , 'r')
  print("Content of the file created-" , readfile.read())
  readfile.close()

except Exception as err:                    #handle a universal exception
  print(err)

else:                                       #execute only if there is no exception
  print(userfile.read())

finally:
  userfile.close()                                      #excutes in any case at the end
  print("ALl process completed")

Enter the name of the file with extension (eg. example.txt)hello.txt
We are learning Python.....
ALl process completed

****
**Object-Oriented Programming**

* Create a Python class named BankAccount with the following attributes and methods:

    * Attributes: account_number, account_holder, balance
    * Methods:
        * deposit(amount): Adds the specified amount to the balance.
        * withdraw(amount): Deducts the specified amount from the balance if sufficient funds are available.
        * Otherwise, prints "Insufficient balance."
        display_balance(): Displays the current balance.

* Write a script to create an instance of the class and demonstrate all the methods.

In [70]:
class BankAccount:
  def __init__(self, account_number, account_holder, balance):
    self.account_number = account_number
    self.account_holder = account_holder
    self.balance = balance

  def deposit(self,amount):
    if amount > 0:
      self.balance += amount
      print(f"Deposited: {amount} , New balance: {self.balance}")
    else:
      print("Deposit amount must be positive")

  def withdraw(self,amount):
    if amount > self.balance:
      print("Insufficient balance")
    elif amount <= 0:
      print("Withdrawl Amount must be positive")
    else:
      self.balance -= amount
      print(f"Withdrawn: {amount} , New balance: {self.balance}")

  def display_balance(self):
    print("Account balance-" , self.balance)

In [71]:
amit = BankAccount("23456689" , "Amit Sharma" , 50000)
karthik = BankAccount("2345479" , "Karthik Narayan" , 25000)

In [72]:
print(amit.account_number)
print(amit.account_holder)
print(amit.balance)

23456689
Amit Sharma
50000

In [73]:
print(karthik.account_number)
print(karthik.account_holder)
print(karthik.balance)

2345479
Karthik Narayan
25000

In [74]:
amit.deposit(7000)

Deposited: 7000 , New balance: 57000

In [75]:
amit.deposit(-20000)
print(amit.balance)

Deposit amount must be positive
57000

In [76]:
amit.withdraw(30000)

Withdrawn: 30000 , New balance: 27000

In [77]:
amit.withdraw(50000)

Insufficient balance

In [78]:
amit.display_balance()

Account balance- 27000